
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.content {
    width: 540px;
    height: 300px;
    margin: 0 auto;
    background: url("../img/bg.jpg");
    background-size: cover;
}

.container {
    height: 220px;
    display: flex;
    border-top: 10px solid #111111;
    align-items: center;
}

.photo {
    margin: 0 20px;
}

.photo-of-user {
    display: inline-block;
    border-radius: 25px;
    width: 180px;
    height: 180px;
}

.description {
    padding-left: 20px;
}

.description h2 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.profession {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.description a {
    text-decoration: none;
}

.description a:link, .description a:visited {
    color: #ffffff;
}

.description a:hover {
    text-decoration: underline;
}

.description a:active {
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

li {
    float: left;
    height: 30px;
    padding: 10px 10px 0 35px;
}

li:nth-child(1) {
    background: url("../img/icons/book.png") left no-repeat;
    background-size: 30px;
}

li:nth-child(2) {
    background: url("../img/icons/ball.png") left no-repeat;
    background-size: 30px;
}

li:nth-child(3) {
    background: url("../img/icons/headphones.png") left no-repeat;
    background-size: 30px;
}

address {
    height: 70px;
    background-color: rgba(20,20,20,0.9);
}

.link-to-mail {
    display: inline-block;
    margin-left: 320px;
    margin-top: 30px;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}

.link-to-mail:hover {
    text-decoration: underline;
}
